# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
/.idea

# Ignore database
/db/schema.rb
/db/backups

# Ignore application configuration
/config/application.yml
/config/newrelic.yml
/config/secrets.yml
/config/database.yml

# Ignore assets
/public/assets
/public/system
/app/assets/images/world_map.psd