:css
  #map {
    height: 500px;
    width: 100%;
  }

.container
  %h1 Houses
  .row
    .col-md-12
      .google-map-borders
        #map.google-map.mt-none.mb-none

= content_for :javascript do
  = javascript_include_tag "houses"