%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => admin_root_path} myStudent CPanel
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        = navbar_item("Dashboard", admin_root_path)
        = navbar_item("Countries", admin_countries_path)
        -#= navbar_item("Universities", admin_universities_path)
      %ul.nav.navbar-nav.navbar-right
        - if admin_signed_in?
          %li= link_to "Logout", destroy_admin_session_path, method: :delete
