:css
  .tp-caption {
    color: #000000 !important;
  }

.slider-container.rev_slider_wrapper
  #revolutionSlider.slider.rev_slider{"data-plugin-options" => "{\"gridwidth\": 1170, \"gridheight\": 500}", "data-plugin-revolution-slider" => ""}
    %ul
      %li{"data-transition" => "fade"}
        %img.rev-slidebg{:alt => "", "data-bgfit" => "cover", "data-bgposition" => "center center", "data-bgrepeat" => "no-repeat", :src => image_url("petronas.jpg")}
          .tp-caption.top-label{"data-start" => "500", "data-transform_in" => "y:[-300%];opacity:0;s:500;", "data-x" => "center", "data-hoffset" => "-50", "data-y" => "180"} Persue Your Studies In
          .tp-caption.main-label{"data-mask_in" => "x:0px;y:0px;", "data-start" => "1500", "data-transform_in" => "y:[100%];s:500;", "data-transform_out" => "opacity:0;s:500;", "data-whitespace" => "nowrap", "data-x" => "center", "data-hoffset" => "-50", "data-y" => "210"} MALAYSIA?
          .tp-caption.bottom-label.text-center{"data-start" => "2000", "data-transform_in" => "y:[100%];opacity:0;s:500;", "data-x" => "center", "data-hoffset" => "-50", "data-y" => "280"}
            Check out our guides to kick start
            %br your education journey.
      -#%li{"data-transition" => "fade"}
        %img.rev-slidebg{:alt => "", "data-bgfit" => "cover", "data-bgposition" => "center center", "data-bgrepeat" => "no-repeat", "data-no-retina" => "", :src => image_url("img/slides/slide-bg.jpg")}
          .tp-caption.top-label{"data-start" => "500", "data-transform_in" => "z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;", "data-x" => "155", "data-y" => "100"}
            %img{:alt => "", :src => image_url("img/slides/slide-concept.png")}/
          .tp-caption.blackboard-text{"data-start" => "1000", "data-transform_in" => "z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;", "data-x" => "285", "data-y" => "180", :style => "font-size: 30px;"} easy to
          .tp-caption.blackboard-text{"data-start" => "1200", "data-transform_in" => "z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;", "data-x" => "285", "data-y" => "220", :style => "font-size: 40px;"} customize!
          .tp-caption.main-label{"data-mask_in" => "x:0px;y:0px;", "data-start" => "1800", "data-transform_in" => "y:[100%];s:500;", "data-transform_out" => "opacity:0;s:500;", "data-whitespace" => "nowrap", "data-x" => "685", "data-y" => "190"} DESIGN IT!
          .tp-caption.bottom-label{"data-elementdelay" => "0.05", "data-mask_in" => "x:0px;y:0px;s:inherit;e:inherit;", "data-responsive_offset" => "on", "data-splitin" => "chars", "data-splitout" => "none", "data-start" => "2000", "data-transform_idle" => "o:1;", "data-transform_in" => "y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;s:600;e:Power4.easeInOut;", "data-transform_out" => "opacity:0;s:500;", "data-x" => "685", "data-y" => "250"} Create slides with brushes and fonts