#background
  .text-container
    #shader
    #logo
      myStudent
      -#.subtitle Malaysia
    .modules
      .container
        .row.text-center
          #house.col-sm-4
            House
          #university.col-sm-4
            = link_to "University", universities_path
          #car.col-sm-4
            Car