#map {
  height: 500px;
  width: 100%;
}

#house-header {
  background-image: image-url("vertical-building.jpg");
  background-position: 50% -87.5px;
  background-size: cover;

}

#house-header.page-header.parallax {
  margin: 0 0 35px;
  padding: 150px 0 60px;
}

#houses-list {
  height: 450px;
  overflow-x: hidden;
  overflow-y: auto;

  a {
    color: #000000;
  }

  a:hover {
    color: #000000;
  }

  .house-image {
    height: 70px;
    line-height: 85px;
  }

  .house-image img {
    vertical-align: middle;
    display: inline-block;
  }
}

