.slider-container.rev_slider_wrapper
  #revolutionSlider.slider.rev_slider{"data-plugin-options" => "{\"gridwidth\": 1170, \"gridheight\": 500}", "data-plugin-revolution-slider" => ""}
    %ul
      %li{"data-transition" => "fade"}
        %img.rev-slidebg{:alt => "", "data-bgfit" => "cover", "data-bgposition" => "center center", "data-bgrepeat" => "no-repeat", :src => image_url("putrajaya-bridge.jpg")}

.container.mt-xlg
  .row
    .col-md-3
      %aside#sidebar.sidebar{"data-plugin-options" => "{\"minWidth\": 991, \"containerSelector\": \".container\", \"padding\": {\"top\": 110}}", "data-plugin-sticky" => ""}
        %h4.heading-primary Malaysia
        %ul.nav.nav-list.mb-xl.show-bg-active
          %li.active
            %a{"data-hash" => "", "data-hash-offset" => "85", :href => "#how-to-come"} Studying in Malaysia
          %li
            %a{"data-hash" => "", "data-hash-offset" => "85", :href => "#universities"} Universities
    .col-md-9
      = editable_section "how-to-come"

      %hr.short

      #universities
        - @universities.each do |university|
          %p= university.name

- if current_admin
  :javascript
    tinymce.init({
        selector: '#how-to-come',
        inline: true,
        apply_source_formatting : true,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table contextmenu paste save'
        ],
        toolbar: 'insertfile save undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
        save_onsavecallback: function () {
            // console.log('Saved');
            $.ajax({
                method: 'PUT',
                url: '/admin/save_page_region?country_id=' + #{@country.id} + '&name=' + tinyMCE.activeEditor.id + '&content=' + encodeURIComponent(tinyMCE.activeEditor.getContent())
            }).done(function (msg) {
                alert('Content saved.');
            }).fail(function (msg) {
                alert('Content failed to save, please contact web administrator.');
            });
        }
    });