.slider-container.rev_slider_wrapper
  #revolutionSlider.slider.rev_slider{"data-plugin-options" => "{\"gridwidth\": 1170, \"gridheight\": 500}", "data-plugin-revolution-slider" => ""}
    %ul
      %li{"data-transition" => "fade"}
        %img.rev-slidebg{:alt => "", "data-bgfit" => "cover", "data-bgposition" => "center center", "data-bgrepeat" => "no-repeat", :src => image_url("putrajaya-bridge.jpg")}

.container.mt-xlg
  .row
    .col-md-3
      %aside#sidebar.sidebar{"data-plugin-options" => "{\"minWidth\": 991, \"containerSelector\": \".container\", \"padding\": {\"top\": 110}}", "data-plugin-sticky" => ""}
        %h4.heading-primary Malaysia
        %ul.nav.nav-list.mb-xl.show-bg-active
          %li
            %a{"data-hash" => "", "data-hash-offset" => "85", :href => "#how-to-come"} Studying in Malaysia
          %li
            %a{"data-hash" => "", "data-hash-offset" => "85", :href => "#universities"} Universities
          %li
            %a{"data-hash" => "", "data-hash-offset" => "85", :href => "#reviews"} Reviews
    .col-md-9
      = editable_section "how-to-come"

      %hr.short

      #universities.row
        %ul.portfolio-list.sort-destination{"data-sort-id" => "portfolio"}
          - @universities.each do |university|
            %li.col-sm-6.col-xs-12.isotope-item.websites
              .portfolio-item
                %a{:href => university_path(university)}
                  %span.thumb-info
                    %span.thumb-info-wrapper
                      %img.img-responsive{:alt => "", :src => image_url(university.featured_image.image.url(:medium))}
                        %span.thumb-info-title
                          %span.thumb-info-inner= university.name
                          %span.thumb-info-type University College
                        %span.thumb-info-action
                          %span.thumb-info-action-icon
                            %i.fa.fa-link

      %section#reviews.section.section-default.section-with-divider
        .divider.divider-solid.divider-style-1
          %i.fa.fa-chevron-down
        .row
          .col-md-12
            %h2.text-center Reviews
            .fb-comments{"data-href" => request.url, "data-numposts" => "5", "data-width" => "100%"}